.bodybg {
    -fx-background-image: url("MoogleGapsBackground.jpg");
    -fx-background-size: 100% 100%;
}

.promptTextSize {
    -fx-font-size: 30px;
    -fx-alignment: center;
}

.list-cell {
    -fx-font-size: 20px;
    -fx-cell-size: 45px;
    -fx-alignment: center;
}